.flex {
    display: flex;


}

.left>img {
    width: 100px;
    height: 100px;
}



ul {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

ul>li {
    list-style: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    /* padding-left: 20px; */
    padding-right: 20px;
}

input {
    padding: 25px;
    height: 6px;
    width: 75%;
    margin-top: 25px;
    /* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px; */
    box-shadow: rgba(178, 10, 10, 0.35) 0px 5px 15px;
    border: none;

}

#top {
    display: flex;
    justify-content: right;
    margin: auto;

}

#top>select {
    margin: 10px;
    border: none;
}

#vbutton{
    margin-right: 19.5px;
    padding: 6px;
    background-color:black;
    color: white;
    border-radius: 8px;
    border: none;
}
#a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family:sans-serif
}



.main-carousel {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    align-items: center;
    margin-top: 20px;
    box-shadow: rgba(178, 10, 10, 0.35) 0px 5px 15px;
}

.main-carousel img {
    width: 100%;
}



.main-slid {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#mid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 5px 0px;
    margin-top: 40px;
     box-shadow: rgba(178, 10, 10, 0.35) 0px 5px 15px;
}

#mid>div> img {
    width: 100%;
}

/* #mid-below {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 2px 0px;
    margin-top: 100px;
} */
.owl-carousel{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 2px 0px;
    margin-top: 50px;
    box-shadow: rgba(178, 10, 10, 0.35) 0px 5px 15px;
   
}

#mid>div {
    /* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px; */
    box-shadow: rgba(178, 10, 10, 0.35) 0px 5px 15px;
    text-align: center;

}
#mid>div:hover{
    transform: scale(1.1);
    z-index: 1;
}
/* 
#mid-below>div>img {
    width: 100%;
} */
/* 
#mid-below>div {
    text-align: center;
    
    border: 1px solid black;
} */
.item img{
    width: 100%;
}
.item{
    text-align: center;
    box-shadow: rgba(178, 10, 10, 0.35) 0px 5px 15px;
    border: 1px solid black;
    height: 50vh;
    /* margin: auto; */
}
.bold {
    font-weight: bolder;
    font-size: 50px;
    text-align: left;
    color: brown;
}

#bx {
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
    /* margin-left: 30px; */
    /* padding: 0px 60px; */
    /* height: 70vh; */
    margin-top: 50px;
}

.xx {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    border: 1px solid black;
    background-color: antiquewhite;
    /* padding-left: 0px; */
    padding-left: 50px;
    padding-bottom: 70px;
}

.yy {
    width: 30%;
    text-align: left;
    margin: auto;
    padding: 90px 50px;
    border: 1px solid black;
    padding-bottom: 192px;

    background-color: rgb(175, 247, 21)
}

.xx>div>h1 {
    font-size: 150px;
    font-weight: bolder;

}

.xx>div>h2 {
    font-size: 30px;
    font-weight: bold;
}

.xx>div {
    height: auto;
    width: 100%;
    text-align: left;
    margin: 5px;

}

.yy>button {
    padding: 8px 35px;
    background-color: black;
    color: white;
}

.yy>h1 {
    font-size: 50px;
    /* font-weight: bold; */


}

.yy:hover {
    background-color: rgb(204, 155, 249);
}


.W1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 15px ;
    margin: 20px 0px;
    padding-left: 15px;
}

#word {
    border: 1px solid black;
}

#word>h1 {
    text-align: center;
    /* transform: rotate(-90deg); */
}

.W1>div:hover {
    color: blueviolet;
}

.below2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    padding: 50px 20px;
    border: 1px solid black;

}

.rotate>h1:hover {
    color: blueviolet;
}

.rotate>p:hover {
    text-decoration: underline;
}


#footer{
display: flex;
width: 70%;
height: auto;
justify-content: space-between;
margin: auto;
padding: 50px 0px;
}
/* #f1{
   

}
#f2{
    margin-right: 30px;
} */
#main-footer{
    background-color: rgb(240, 239, 237);
}
#f1>p:hover{
    text-decoration: underline;
}
#f2>p:hover{
    text-decoration: underline;
}
#f3>p:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    
}