#product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  #product-container>div>img {
    width: 100%;
  }
  #product-container>div>button{
    background-color: rgb(23, 226, 226);
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 12px;
    
  }
  #product-container >div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    padding: 20px;
  }
  #product-container>div>button:hover{
    background-color: red;
  }

  .nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* height: auto; */
    width: 90%;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px 20px;
    margin: auto;
    margin-top: 20px;
  }
  #filter{
    text-align: center;
  }
  a{
    text-decoration: none;
    color: blue
  }
  #qwerty{
 margin: auto;
 display: flex;
justify-content: center;
padding: 10px;
margin: 20px;

  }

  select{
    padding: 10px 15px;
    font-weight: bolder;
    font-size: larger;
    background-color: rgb(185, 135, 231);
    border-radius: 12px;
  }

  *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  .rrr:hover{
    transform: scale(1.3);
    z-index: 2;
    color: teal;
    /* font-size: 20px; */
  }